  .imgs {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 100%;

  }

  .punteado {
      border-style: dashed;
      border-width: 3px;
      border-color: #bd6f27;

      font-family: verdana, arial;
      font-size: 1pt;
  }

  .color {
      background-color: rgba(255, 0, 0, 0);


  }

  .color2 {


      background-color: rgb(218 254 228);
  }

  .color3 {
      background-color: rgba(92, 111, 153, 0);
  }

  body {
      background-image: url("img/fondo.jpg");
      background-color: #6c8394;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;

  }

  #paragraph {
      font-family: "Raleway", serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 14px;
      color: #72360d;
      margin-top: 8px;
  }

  #title-invitation {
      font-family: "Fraunces", serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 13px;
      color: #af6724;
      margin-top: 9px;
      margin-bottom: 30px;
  }

  .size-animation {
      width: 280px;
      height: 280px;

  }

  #title-espera {

      color: #a55119;
      font-family: "Fraunces", serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 22px;
      margin-top: 20px;

  }

  #month {
      color: #5d810a;
      text-align: left;
      font-family: "Fraunces", serif;
      font-size: 24px;

     
      /* text-decoration: underline overline dashed #af6724; */
  }

  #day {
      color: #5d810a;
      text-align: center;
      font-size: 24px;
      font-family: "Fraunces", serif;
      font-style: normal;

     
      /*   text-decoration: 2px solid underline#749c17; */
  }

  #hrs {
      color: #5d810a;
      text-align: right;
      font-family: "Fraunces", serif;
      font-size: 24px;

       
  }

  h1#title-baby {
      font-family: "Great Vibes", serif;
      font-weight: 450;
      font-size: 50px;
      font-style: normal;
      color: #af6724;
      margin-top: 40px;
      background: rgb(253, 248, 240);
      position: relative;

  }

  h1 span {
      position: absolute;
      right: 0;
      width: 130px;
      background: rgb(253, 248, 240);
      border-left: 1px solid #f39033;

      animation: escribir 5s steps(30) infinite alternate;
  }

  @keyframes escribir {
      from {
          width: 75%
      }

      to {
          width: 14%
      }
  }

  @media (max-width: 629px) {

      #hrs {

          font-size: 10px;
      }

  }