 .imgs {
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     width: 100%;

 }

 .color {
     background-color: rgba(255, 0, 0, 0);

 }

 .color2 {
     background-color: rgb(255, 255, 255);








 }

 .color3 {
     background-color: rgba(92, 111, 153, 0);
 }

 body {
     background-image: url("img/fondo.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;

 }

 /*  .imagen {
     background-image: url("img/fondos.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     width: 100%;
     height: 100vh;
} */







 #paragraph {
     font-family: "Raleway", serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-size: 15px;
     color: #6c8394;
     margin-top: 8px;
 }

 #title-invitation {
     font-family: "Fraunces", serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-size: 25px;
     color: #b88776;
 }

 .size-animation {
     width: 220px;
     height: 220px;

 }

 #title-espera {

     color: #c3998b;
     font-family: "Fraunces", serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-size: 25px;
     margin-top: 10px;
 }

 #month {
     color: #6c8394;
     text-align: left;
     font-family: "Fraunces", serif;
     font-size: 30px;
 }

 #day {
     color: #9bd0d6;
     text-align: center;
     font-size: 30px;
     font-family: "Fraunces", serif;
     font-style: normal;
     text-decoration: 2px solid underline#96d9e0;
     text-underline-position: under;
     text-underline-offset: 10px;

 }

 #hrs {
     color: #9bd0d6;
     font-family: "Fraunces", serif;
     text-align: right;
     font-size: 30px;
 }

 @media (max-width: 629px) {

     h1#title-baby {

         font-size: 40px;

     }

 }

 .circle {

     width: 100px;
     height: 100px;
     border-radius: 100%;
     box-shadow: 40px 0px 0 #d9534f;
 }





 h1#title-baby {
     font-family: "Great Vibes", serif;
     font-weight: 450;
     font-size: 50px;
     font-style: normal;
     color: #9bd0d6;
     margin-top: 40px;

     background: rgb(255, 255, 255);
     position: relative;

 }





 h1 span {
     position: absolute;
     right: 0;
     width: 0;
     background: rgb(255, 255, 255);
     border-left: 1px solid #000;
     animation: escribir 5s steps(30) infinite alternate;
 }

 @keyframes escribir {
     from {
         width: 83%
     }

     to {
         width: 15%
     }
 }